{{>layouts/header}} <!-- 파일 불러오기 -->

<!-- jumbotron -->
<div class="jumbotron">
    <h1>Article 목록</h1>
    <hr>
    <p>articles/index.mustache</p>
    <p>{{msg}}</p> <!-- 모델 데이터를 가져옴 -->
</div>

{{>layouts/footer}}
